{% extends 'base.html' %}

{% block content %}

<script>
    function loadHTML(rule_id) {
        // load HTML code of iframe (crawling result)
        var iframe = document.getElementById("result_" + rule_id);
        var printBox = document.getElementById("printBox_" + rule_id);
        printBox.value = iframe.contentWindow.document.body.innerHTML;
    }

    function loadIframe(rule_id, src) {
        // load crawling result URL in iframe
        var iframe = document.getElementById("result_" + rule_id);
        iframe.src = src;
    }
</script>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="rules_submit" id="add_rule" value="add_rule">Add Rule</button>
</form>

<hr>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for rule in rules %}
            <a class="nav-link{% if rule.id == rule_page %} active{% endif %}" id="v-pills-rule{{ rule.id }}-tab"
                data-toggle="pill" href="#v-pills-rule{{ rule.id }}" role="tab"
                aria-controls="v-pills-rule{{ rule.id }}"
                aria-selected="{% if rule.id == rule_page %}true{% else %}false{% endif %}">
                Rule {{ rule.id }}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            {% for rule in rules %}
            <div class="tab-pane fade{% if rule.id == rule_page %} show active{% endif %}"
                id="v-pills-rule{{ rule.id }}" role="tabpanel" aria-labelledby="v-pills-rule{{ rule.id }}-tab">
                {% include "sites/rule_page.html" with rule=rule url_save_successful=url_save_successful %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}